body
{
  overflow-x: hidden;
}
.log
{
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  color: white;
}
#d1
{
  margin-top: 200px;
}
#mouse
{
  margin-top: 120px;
}
.about1
{
  margin-top: 50px;
  text-align: center;
}
.service
{
background-image: url("../assets/backgrounds/s_image.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 60vh;
padding-top: 10%;
margin-top: 100px;
margin-bottom: 100px;
}
#ser
{
  text-align: center;
  color: white;
}
.row
{
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
}
h5
{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
#contact
{
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 30px;
  margin-left: 50px;
  padding-top: 5%;
  text-align: center;
}
#contact p
{
  color: white;
  font-size: 20px;
}
#name,#mail, #comments
{
  background-color: transparent;
}
.button:focus, .button:hover {
    background: #1583cc;
    color: #fff;
}
.copyright
{
  text-align: center;
  margin-top: 20px;
}
p1
{
  font-size: 30px;
}
p2
{
  font-size: 15px;
}
#name, #mail
{
  width: 300px;
  color: white;
}
#comments
{
  width: 600px;
  color: white;
  height: 40vh;
}
.portfolio
{
  margin-top: 100px;
}
.jak, .juk, .jos, .jik, .jim, .jam, .jok, .jek
 {
  color: white;
  position: absolute;
  font-size: 20px;
  border: 2px solid white;
  background-color: transparent;
  bottom: 30%;
  left: 30px;
}
#jam, #jak, #juk, #jos, #jik, #jim, #jok, #jek
{
  position: relative;
}
