#himg
{
  position: relative;
  width: 100%;
  height: 100%;
}
.log
{
  position: absolute;
  top: 35%;
  color: white;
}
#logo
{
width: 10%;
height: 10%;
left: 50%;
margin-left: 600px;
}
.log h1
{
  margin-top: 40px;
  margin-left: 500px;
}
.log h2
{
  margin-left: 450px;
}
.log p
{
  margin-left: 380px;
}
#mouse
{
  width: 3%;
  height: 3%;
  margin-top: 160px;
  margin-left: 600px;
}
.about1
{
  margin-top: 50px;
  text-align: center;
}
.service
{
  position: relative;
  width: 100%;
  height: 100%;
}
#ser
{
  position: absolute;
  top: 25%;
  color: white;
  text-align: center;
  margin-left: 100px;
}
.row
{
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
}
h5
{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}
#contact
{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.contact
{
  position: absolute;
  top: 350%;
  left: 30%;
  color: white;
  background-color: ;
}
.copyright
{
  text-align: center;
  margin-top: 20px;
}
